<nav class="w-full flex justify-center open-sans-400 mt-3">
  <div class="flex items-center justify-center py-4 px-1 text-gray-100 navbar">
    <a routerLink="home" routerLinkActive="navbar-a-active" class="px-5 py-1.5 mx-1.5 sm:mx-4">Home</a>
    <a routerLink="about" routerLinkActive="navbar-a-active" class="px-5 py-1.5 sm:mx-4">About</a>
    <a routerLink="projects" routerLinkActive="navbar-a-active" class="px-5 py-1.5 sm:mx-4">Projects</a>
    <a routerLink="contact" routerLinkActive="navbar-a-active" class="px-5 py-1.5 sm:mx-4">Contact</a>
  </div>
</nav>
