.about-img-container:after {
  content: '';
  border: 2px solid #3b82f6;
  z-index: 0;
  display: block;
  position: relative;
  width: 394px;
  height: 210px;
  border-radius: 3px;
  bottom: 230px;
  left: 23px;
}

.skills:before {
  content: '▹';
  position: absolute;
  left: 0;
  color: #3b82f6;
}


@media (max-width: 792px) {
  .about-img-container:after {
    display: none;
  }
}
