<section class="banner mx-4 md:mx-0 my-0 min-h-screen flex items-center" id="banner">
  <div class="container mx-auto align-middle">
    <div>
      <h2 class="text-blue-400 mt-0 mr-0 mb-4 text-base">{{"banner.pretitle" | translate}}</h2>
      <div class="text-7xl open-sans-500 mb-4 md:mb-10">
        <h2 class="text-white">{{"banner.title" | translate}}</h2>
        <h3 class="text-gray-500">{{"banner.job" | translate}}</h3>
      </div>
      <div class="mb-8">
        <p [innerHTML]="'banner.description' | translate" class="mt-4 max-w-[500px] text-gray-300"></p>
      </div>
    </div>
    <div class="h-11">
      <a href="mailto:hippolyte.gauth@gmail.com" target="_black" class="text-white bg-gradient-to-r from-cyan-500 to-blue-500 hover:bg-gradient-to-bl font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">
        {{"banner.button" | translate}}
      </a>
    </div>
  </div>
</section>
