<section class="about mx-2 md:mx-0 min-h-screen pt-14 text-slate-300" id='about'>
  <div class="container mx-auto">
    <div class="grid grid-cols-1 md:grid-cols-2 items-center">
      <div class="mt-8 mb-10 w-full md:w-3/4">
        <h3 class="section-title text-4xl open-sans-500 mb-6">About me</h3>
        <p>
          Lorem ipsum dolor sit amet, <span class="open-sans-600 underline decoration-blue-500 hover:bg-blue-500">consectetur</span> adipiscing elit. Phasellus non tortor sollicitudin, dignissim ipsum molestie, rhoncus neque. <br>
          <br>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus non tortor sollicitudin, <span class="open-sans-600 underline decoration-blue-500 hover:bg-blue-500">dignissim</span> & <span class="open-sans-600 underline decoration-blue-500 hover:bg-blue-500">molestie</span>, rhoncus neque. Donec tempor libero et velit ultricies, in molestie purus varius. <br>
          <br>
          Some of the <span class="open-sans-600 underline decoration-blue-500 hover:bg-blue-500">technologies</span> that I have trained and worked on include (but are not limited to) :
        </p>
        <ul class="grid grid-cols-2 gap-2 text-sm overflow-hidden mt-8 text-blue-500 fira-code-300">
          <li class="skills relative mb-2 pl-8 flex items-center"><span class="hover:underline">Angular </span></li>
          <li class="skills relative mb-4 pl-8 flex items-center"><span class="hover:underline ">HTML &amp; CSS </span></li>
          <li class="skills relative mb-4 pl-8 flex items-center"><span class="hover:underline ">Java </span></li>
          <li class="skills relative mb-4 pl-8 flex items-center"><span class="hover:underline "> Spring Boot</span></li>
          <li class="skills relative mb-4 pl-8 flex items-center"><span class="hover:underline ">Symfony</span></li>
          <li class="skills relative mb-4 pl-8 flex items-center"><span class="hover:underline ">Gitlab </span></li>
          <li class="skills relative mb-4 pl-8 flex items-center"><span class="hover:underline ">WordPress </span></li>
          <li class="skills relative mb-4 pl-8 flex items-center"><span class="hover:underline ">Liquid (Shopify) </span></li>
        </ul>
      </div>
      <div class="w-4/5 h-1/2 md:w-96 m-auto about-img-container">
        <img class="rounded relative z-10" src="assets/img/test.png" alt="Hippolyte Gautheron">
      </div>
    </div>
  </div>
</section>

