<section class="projects mx-2 md:mx-0 min-h-screen pt-14 mt-32 md:mt-14 text-slate-300" id="projects">
  <div class="container mx-auto">
    <h3 class="section-title text-4xl open-sans-500 mb-6">Projects</h3>
    <div class="grid grid-cols-1 gap-4 justify-items-center md:justify-items-start md:grid-cols-3">
      @for (project of projects.projects; track projects) {
        <div class="more-projects-box p-8 rounded-md cursor-pointer bg-slate-800">
          <div class="flex justify-between items-center mb-4">
            <i class="fa {{project.icon}} fa-2xl" aria-hidden="true"></i>
            <div class="flex justify-end">
              <a target="_blank"><i class="ml-3 fas fa-external-link-alt"></i></a>
              <a target="_blank"><i class="ml-4 fab fa-github"></i></a>
            </div>
          </div>
          <h5 class="text-2xl mb-4 open-sans-500">{{ project.title }}</h5>
          <p class="text-gray-400 mb-8">
            {{ project.description }}
          </p>
          <ul class="flex">
            @for (skill of project.skills; track skill) {
              <li class="mr-4 text-gray-300">
                <span class="underline text-white decoration-blue-400 hover:bg-blue-400">{{ skill }}</span>
              </li>
            }
          </ul>
        </div>
      }
    </div>
  </div>
</section>
