<nav class="w-full flex justify-center open-sans-400 fixed top-4 z-20">
  <div class="flex items-center justify-center py-2 px-1 text-gray-100 navbar">
    <a (click)='scroll("banner")' class="px-5 py-3 mx-1.5 sm:mx-4 rounded-3xl cursor-pointer">{{"header.item1" | translate}}</a>
    <a (click)='scroll("about")' class="px-5 py-3 mx-1.5 sm:mx-4 rounded-3xl cursor-pointer">{{"header.item2" | translate}}</a>
<!--    <a (click)='scroll("projects")' class="px-5 py-3 mx-1.5 sm:mx-4 rounded-3xl cursor-pointer">{{"header.item3" | translate}}</a>-->
<!--    <a (click)='scroll("contact")' class="px-5 py-3 mx-1.5 sm:mx-4 rounded-3xl cursor-pointer">{{"header.item4" | translate}}</a>-->
  </div>
</nav>

<!--
<div class="dropdownLanguages fixed top-8 right-8 z-30 flex">
  <img ngSrc="/assets/img/france.png" alt="" height="32" width="32" class="mr-2">
  <img ngSrc="/assets/img/usa.png" alt="" height="32" width="32">
</div>
-->


