.navbar {
  border-radius: 30px;
  background: rgba(66, 66, 66, 0.15);
  backdrop-filter: blur( 5px );
  -webkit-backdrop-filter: blur( 5px );
}

.navbar:hover {
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.06);
  backdrop-filter: blur( 5px );
  -webkit-backdrop-filter: blur( 5px );
}

.navbar a:hover {
  background: rgba(255, 255, 255, 0);
  backdrop-filter: blur( 5px );
  -webkit-backdrop-filter: blur( 5px );
}
