<div class="project-container p-8 min-h-[330px] max-w-full rounded-md flex flex-col justify-between" [class]="project.bg">
  <div class="flex flex-col gap-4 ">
    <div class="flex justify-between">
      <h5 class="text-2xl open-sans-600">{{ project.title }}</h5>
      <div class="flex gap-2">
        @if (project.github) {
          <a class="cursor-pointer" href="#">
            <lucide-angular name="githhub" class="my-icon" [strokeWidth]="1"></lucide-angular>
          </a>
        }
        @if (project.link) {
          <a class="cursor-pointer" [href]="project.link" target="_blank">
            <lucide-angular name="square-arrow-out-up-right" class="my-icon" [strokeWidth]="1"></lucide-angular>
          </a>
        }
      </div>
    </div>
    <p class="mb-8">
      {{project.description}}
    </p>
  </div>
    <ul class="flex justify-center">
      @for (skill of project.skills; track skill) {
        <li class="mr-4 fira-code-300 text-sm">
          {{ skill }}
        </li>
      }
    </ul>
</div>
