<section class="banner mx-2 md:mx-0 my-0 min-h-screen flex items-center" id="banner">
  <div class="container mx-auto align-middle">
    <div>
      <h2 class="text-blue-400 mt-0 mr-0 mb-4 text-base">Hello! My name is</h2>
      <div class="text-7xl open-sans-500 mb-8">
        <h2 class="text-white">Hippolyte Gautheron</h2>
        <h3 class="text-gray-300">Software Developer</h3>
      </div>
      <div class="mb-12">
        <p class="mt-4 max-w-[500px] text-gray-300">
          I focus on crafting clear, reusable, and optimized code.
          I mainly use <span class="open-sans-600 underline decoration-blue-500 hover:bg-blue-500">Angular</span>
          and <span class="open-sans-600 underline decoration-blue-500 hover:bg-blue-500">Java</span>, which allows me to develop reliable and efficient software solutions.
        </p>
      </div>
    </div>
    <div class="h-11">
      <a href="mailto:hippolyte.gauth@gmail.com" target="_black" class="text-white bg-gradient-to-r from-cyan-500 to-blue-500 hover:bg-gradient-to-bl font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">
        Get in touch
      </a>
    </div>
  </div>
</section>
