<nav class="w-full flex justify-center open-sans-400 mt-5 fixed">
  <div class="flex items-center justify-center py-2 px-1 text-gray-100 navbar">
    <a (click)='scroll("banner")' class="px-5 py-3 mx-1.5 sm:mx-4 cursor-pointer">Home</a>
    <a (click)='scroll("about")' class="px-5 py-3 sm:mx-4 cursor-pointer">About</a>
    <a (click)='scroll("projects")' class="px-5 py-3 sm:mx-4 cursor-pointer">Projects</a>
    <a (click)='scroll("contact")' class="px-5 py-3 sm:mx-4 cursor-pointer">Contact</a>
  </div>
</nav>
