.footer-links:before {
  content: '';
  display: block;
  width: 120px;
  height: 2px;
  margin: 0 auto;
  background-color: #a8b2d1;
}

.footer-mail:after  {
  content: '';
  display: block;
  width: 80px;
  height: 2px;
  margin: 0 auto;
  background-color: #a8b2d1;
}


.footer-links {
  position: fixed;
  bottom: 30px;
  left: 0px;
  padding: 0;
}

.footer-links i {
  font-size: 19px;
  color: #a8b2d1;
}

.footer-mail {
  position: fixed;
  bottom: 30px;
  right: 0px;
  padding: 0;
}

.footer-credits {
  font-size: 12px;
  line-height: 1;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  margin-top: -60px;
}
