.footer-links:before {
  content: '';
  display: block;
  width: 16px;
  height: 1px;
  background-color: #a8b2d1;
}

.footer-mail:after  {
  content: '';
  display: block;
  width: 12px;
  height: 1px;
  background-color: #a8b2d1;
}

.footer-links, .footer-mail {
  position: fixed;
  bottom: 0;
  padding-bottom: 2rem;
}

.footer-links {
  left: 0;
}

.footer-links i {
  font-size: 22px;
}

.footer-mail {
  right: 0;
}

@media (min-width: 768px) {
  .footer-links:before {
    width: 120px;
  }

  .footer-mail:after  {
    width: 80px;
  }

  .footer-links, .footer-mail {
    padding-bottom: 4rem;
  }


  .footer-links {
    position: fixed;
    bottom: 30px;
    left: 0;
    padding: 0;
  }

  .footer-mail {
    position: fixed;
    bottom: 30px;
    right: 0;
    padding: 0;
  }
}
