<footer class="text-slate-400 position relative z-20">
  <div>
    <div class="footer-links flex justify-center items-center">
        <a href="https://github.com/ava-hip" target='_blank' class="mx-4">
          <lucide-angular name="github" class="my-icon" [strokeWidth]="1"></lucide-angular>
        </a>
        <a href="https://www.linkedin.com/in/hippolyte-gautheron/" target='_blank'>
          <lucide-angular name="linkedin" class="my-icon" [strokeWidth]="1"></lucide-angular>
        </a>
    </div>
    <div class="footer-mail flex justify-center items-center">
      <a href="mailto:hippolyte.gauth@gmail.com" target='_blank' class="mx-6 fira-code-300">hippolyte.gauth&#64;gmail.com </a>
    </div>
  </div>

  <div class="text-center pb-6 text-slate-500 md:h-24 h-40" >
    <div>
      Built & Designed with
      <span class="font-medium text-slate-400">Angular</span> and
      <span class="font-medium text-slate-400">Tailwind</span> by Hippolyte Gautheron. Coded in
      <span class="font-medium text-slate-400">IntelliJ</span>. Deployed with
      <span class="font-medium text-slate-400">Netlify</span>.
    </div>
  </div>
</footer>
