<footer class="text-slate-400 position relative z-20">
  <div>
    <div class="footer-links flex justify-center items-center">
        <a href="https://github.com/ava-hip" target='_blank' class="mx-6">
          <i class="fab fa-github"></i>
        </a>
        <a href="https://www.linkedin.com/in/hippolyte-gautheron/" target='_blank'>
          <i class="fab fa-linkedin-in"></i>
        </a>
    </div>
    <div class="footer-mail flex justify-center items-center">
      <a href="mailto:hippolyte.gauth@gmail.com" target='_blank' class="mx-6">hippolyte.gauth&#64;gmail.com </a>
    </div>
  </div>

  <div class="flex justify-center md:items-end items-center pb-6 text-slate-500 md:h-24 h-40" >
    <div>Built & Designed with Angular by Hippolyte Gautheron</div>
  </div>
</footer>
